body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  margin-inline: auto;
}

header,
main {
  width: 640px;
  margin-inline: auto;
}

.lesson-content {
  width: 840px;
  margin: 3em auto;
}

header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 5em auto 3em;
  font-weight: bold;
}

header h1 {
  font-size: 4em;
  background: var(--color-blue);
  background: var(--lg-blue-to-purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header p {
  font-size: 1.5em;
}

main {
  padding-inline: 3em;
}

main h1 {
  font-weight: bold;
  margin-bottom: 2em;
}

.lesson-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em 1em;
}

.lesson-container .content-item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.lesson-container .content-item a:visited,
.lesson-container .content-item a:focus-visible,
.lesson-container .content-item a:hover,
.lesson-container .content-item a:focus {
  color: var(--secondary-color);
}

.lesson-container .content-item .content-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--secondary-color);
  font-size: 4em;
  background: linear-gradient(0deg, #000, #272727);
  border-radius: 0.3em;
  margin: 0 0 0.3em;
  width: 200px;
  height: 150px;
  cursor: pointer;
  transition: color ease-in-out 100ms;
}

.lesson-container .content-item .content-image:hover,
.lesson-container .content-item .content-image:hover + .content-title {
  color: var(--white);
}

.lesson-container .content-item .content-image:before,
.lesson-container .content-item .content-image:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  border-radius: 0.3em;
  background: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 30s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.block:after {
  filter: blur(50px);
}

.lesson-container .content-item .content-title {
  width: 200px;
  font-weight: bold;
}

.lesson-content p {
  text-align: left;
  margin: 1em auto;
  width: 620px;
  font-weight: 400;
  color: var(--white);
}

.lesson-content .lesson-title {
  font-size: 2em;
  font-weight: bold;
  background: var(--color-blue);
  background: var(--lg-blue-to-purple);
  border-color: var(--color-blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lesson-content .example-code {
  margin: 1em auto 0;
}
